header {
  /* Font */
  font-family: "VT323", monospace;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  /* Dimensions */
  width: 80px;

  /* Position */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

header > div:last-of-type {
  /* Dimensions */
  width: 100%;

  /* Flexbox */
  display: flex;
  justify-content: space-around;
}

header button {
  /* Font */
  font-size: 25px;

  /* Borders */
  border: 1px white solid;

  /* Marges */
  padding: 5px;

  /* Background */
  background-color: black;
}

header button:hover {
  /* Background */
  background-color: white;

  /* Font */
  color: black;

  transition: 250ms;
}
